$qrCodeSize: 200px;
$smallQrCodeSize: 100px;

.reveal {
  section img
  {
    &.logoImage {
      background: none;
      border: none;
      box-shadow: none;
    }

    &.inlineImage {
      margin: 0;
      vertical-align: middle;
    }

    &.avatar{
      width:20rem;
      border-radius:50%;
      float:left;

      &.center {
        float: none;
      }
    }
  }

  img.qrCodeLink {
    max-width: $qrCodeSize;
    max-height: $qrCodeSize;

    &.small {
      max-width: $smallQrCodeSize;
      max-height: $smallQrCodeSize;
    }
  }

  pre code.fullHeight {
    max-height: 600px;
  }

  &:after{
    display: block;
    position:absolute;
    content: "Michal Wojtowicz";
    background: url("../../images/logos/Pitney_Bowes_2015.svg") 0 0.5rem no-repeat;
    font-size: 1rem;
    bottom: 20px;
    left: 20px;
    height: 65px;
    width:40%;
  }
}

twitterwidget {
  margin: {
    left: auto;
    right: auto;
  }
}

a.no-shadow {
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;

  &:hover {
    text-shadow: none;
    box-shadow: none;
    text-decoration: none;
    color: #8b743d;

    img {
      box-shadow: none;
    }
  }
}
