.reveal section img
{
  &.logoImage {
    background: none;
    border: none;
  }

  &.inlineImage {
    margin: 0;
    vertical-align: middle;
  }
}
img.qrCodeLink {
  max-width: 250px;
  max-height: 250px;
}
